@import 'tailwindcss';
@plugin "daisyui" {
  themes:
    dracula --default,
    dracula --prefersdark;
}

@theme {
  --color-pzk-red: rgb(209, 38, 57);
  --color-pzk-blue: rgb(59, 130, 246);
  --color-pzk-green: rgb(50, 166, 63);
  --color-pzk-yellow: rgb(227, 187, 57);
}
