@import 'tailwindcss';
@plugin 'daisyui' {
  exclude: rootscrollgutter;
  themes:
    dracula --default,
    dracula --prefersdark;
}

@plugin '@tailwindcss/typography';

@custom-variant landscape-short (@media (orientation: landscape) and (max-height: 500px));

@theme {
  --color-pzk-red: rgb(209, 38, 57);
  --color-pzk-blue: rgb(59, 130, 246);
  --color-pzk-green: rgb(50, 166, 63);
  --color-pzk-yellow: rgb(227, 187, 57);
  --animate-slow-shake: slow-shake 1s ease-in-out infinite;

  @keyframes slow-shake {
    0% {
      transform: rotate(-2deg);
    }
    25% {
      transform: rotate(2deg);
    }
    50% {
      transform: rotate(-2deg);
    }
    75% {
      transform: rotate(2deg);
    }
    100% {
      transform: rotate(-2deg);
    }
  }
}
